In [2]:
url = "https://danskejernbaner.dk/vis.stations.oversigt.php"

In [4]:
import pandas as pd

In [5]:
pd.read_html(url)[0]

,Foto,Stationens navn,Beskrivelse
0,NaN,A/S Ravneholm Garveri Firmaspor [1918-1926],Ravneholm Papirfabrik var et firmaspor til Rav...
1,NaN,Abildhede Trinbræt,Abilhede trinbræt blev anlagt i slutningen af ...
2,NaN,Adelvej Trinbræt,Adelvej trinbræt var med venteskur af den type...
3,NaN,Adsbøl Billetsalgssted (Az),Adsbøl Billetsalgssted blev senere nedsat til ...
4,NaN,Agedrup Station,Agedrup Holdeplads med sidespor åbnede sammen ...
...,...,...,...
2933,NaN,Årøsund By Trinbræt med Sidespor,NaN
2934,NaN,Aarøsund Havn Station,NaN
2935,NaN,Aasbækbro Trinbræt,NaN
2936,NaN,Aasen Trinbræt,NaN
2937,NaN,Åstrup Billetsalgssted med Sidespor,Åstrup var billetsalgssted med sidespor. Blev ...

In [6]:
url2 = "https://danskejernbaner.dk/vis.station.php?FORLOEB_ID=71&content=Asn%C3%A6s-Station-(Asn)"

In [22]:
pd.read_html(url2)[0]

                            0                          1
0                    ByggeÃ¥r                       1899
1                      Ã
bnet                 1899.05.17
2                     Nedlagt                    I drift
3                    Nedrevet          Eksisterer stadig
4                    Arkitekt             Heinrich Wenck
5                     Adresse  RÃ¥dhusvej 1, 4550 AsnÃ¦s
6        Stednavneforkortelse                        Asn
7  HÃ¸jdeplacering over havet                  7,2 meter
8             GPS koordinater         55.80874411.499855

## DSB stationer
Nu forsøger vi at scrape DSB stationer

In [2]:
url = "https://www.dsb.dk/api/stations/getstationlist"
print(url)

https://www.dsb.dk/api/stations/getstationlist

In [3]:
import requests # import the module requests
response = requests.get(url) # submit query with `get` and save response as object

In [4]:
# Konverterer response til json
response_json = response.json() # convert response to a list of dicts

In [19]:
import pandas as pd
pd.DataFrame(response_json)

,stationName,stationUrl,stationLatitude,stationLongitude,tags
0,Albertslund Station,http://www.dsb.dk/kundeservice/stationer/alber...,55.658108,12.353142,"[DSB 7-Eleven, Aflåst cykelparkering]"
1,Alken Station,http://www.dsb.dk/kundeservice/stationer/alken/,56.0523918,9.8457079,[]
2,Allerød Station,http://www.dsb.dk/kundeservice/stationer/allerod/,55.8706131,12.3568097,[Aflåst cykelparkering]
3,Arden Station,http://www.dsb.dk/kundeservice/stationer/arden/,56.769733,9.859934,[]
4,Asnæs Station,http://www.dsb.dk/kundeservice/stationer/asnas/,55.8099266,11.5032869,[]
...,...,...,...,...,...
315,Ålholm Station,http://www.dsb.dk/kundeservice/stationer/alholm/,55.672309,12.493092,[Aflåst cykelparkering]
316,Åmarken Station,http://www.dsb.dk/kundeservice/stationer/amarken/,55.640121,12.499651,[Aflåst cykelparkering]
317,Aarhus H,http://www.dsb.dk/kundeservice/stationer/aarhu...,56.150272,10.204473,"[DSB Salg & Service, DSB 7-Eleven, Salg af udl..."
318,Årslev Station,http://www.dsb.dk/kundeservice/stationer/arslev/,55.3025617,10.4643343,[]
319,Aarup Station,http://www.dsb.dk/kundeservice/stationer/aarup/,55.3828991,10.0511112,[Aflåst cykelparkering]